<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usermobile">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserMobile">

        <activity
            android:name=".Settings.SettingsMenu"
            android:exported="false"
            android:label="@string/title_activity_settings_menu" />
        <activity
            android:name=".ProductAddition.ProductAdditionMenu"
            android:exported="false" />
        <activity
            android:name=".Storage.StorageListView"
            android:exported="false"
            android:label="@string/title_activity_storage_list_view"
            android:theme="@style/Theme.UserMobile.NoActionBar" />

        <activity
            android:name=".Authentication.Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.Activities.AdditionalDataActivity"
            android:exported="true"/>
        <activity
            android:name=".Authentication.Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.Activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UserMobile.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".barcodeScanner.barcodeScanner"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UserMobile.NoActionBar">
        </activity>

        <receiver
            android:name=".Notification.NotificationBroadcast"
            android:allowBackup="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>